---
import '../styles/Hero.css';
---

<section class="hero-section">
  <div class="hero-container">
    <div class="hero-content">
      <h1>Transforma tu cuerpo y mente</h1>
      <h2>En 12 semanas obtén el cuerpo que siempre quisiste y sin dejar de comer lo que te gusta</h2>
      <a href="#contacto" class="btn">Empezar ahora</a>
    </div>
  </div>
</section>