---
import '../styles/header.css';
---

<header class="main-header">
  <div class="header-container">
    <a href="/" class="logo">
      <img src="/images/Logo.png" alt="Logo de Café Sol" />
      <span>Café Sol</span>
    </a>
    <nav class="main-nav">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="#menu">Menú</a></li>
        <li><a href="#historia">Nuestra Historia</a></li>
        <li><a href="#ubicacion">Ubicación</a></li>
      </ul>
    </nav>
  </div>
</header>