---
import "../styles/global.css"; // Esta es la línea que lo conecta todo
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
    <title>Ojeda Inmobiliaria</title>
  </head>
  <body>
    <slot />
  </body>
</html>
