---
import "../styles/aboutMe.css";
import ButtonCTA from "@components/ButtonCTA.astro";
---

<section class="containerPrincipal">
  <div class="containerAM">
    <img src="/Images/Agente.jpeg" alt="" class="aboutImg" />
    <div class="containerAMText">
      <p>
        Soy Ulises Lucato, agente inmobiliario con más de 3 años de experiencia
        ayudando a familias e inversores a encontrar la propiedad ideal.
      </p>
      <p>
        Te acompaño en todas las etapas del proceso, desde la tasación de su
        propiedad, hasta la venta de la misma u compra de otro inmueble.
      </p>
      <p>Hago tasaciones de propiedades en el día y totalmente gratis.</p>
    </div>
  </div>
  <ButtonCTA />
</section>
