---
import "../styles/buttonCTA.css";
---

<div class="containerBtn">
  <button> <p>SOLICITÁ TU TASACIÓN HOY</p> </button>
  <img src="../../public/Images/WppLogo.png" alt="logo de WPP" class="btnImg" />
</div>
