---
import "../styles/header.css";
---

<div class="containerHeader">
  <img src="/Images/Logo.png" alt="" class="logoImg" />
  <div class="containerText">
    <h2>ULISES LUCATO</h2>
    <p>
        Agente Inmobiliario
    </p>
  </div>
</div>
