---
import '../styles/servicios.css'
import ButtonCTA from './ButtonCTA.astro'
---

<section class="containerSer">
  <div class="card">
    <h3>TASAMOS TU PROPIEDAD</h3>
    <p>
      Tus tasaciones en manos de un experto. Tasamos tu propiedad. Soy Ulises
      Lucato, tu agente inmobiliario en Mendoza.
    </p>
  </div>
  <div class="card">
    <h3>COMPRA DE PROPIEDADES</h3>
    <p>
      Encontramos juntos el hogar o la inversi칩n ideal, con asesoramiento y
      opciones que se adaptan a tus necesidades y presupuesto.
    </p>
  </div>
  <div class="card">
    <h3>VENTA DE PROPIEDADES</h3>
    <p>
      Te ayudo a vender de forma r치pida y segura, con estrategias de marketing
      digital, fotos profesionales y difusi칩n en los mejores portales.
    </p>
  </div>
  <div class="card">
    <h3>ALQUILERES</h3>
    <p>
      Te ayudo en la gesti칩n de alquieres ya seas propietario o inquilino,
      asegurando contratos claros y un proceso sin complicaciones.
    </p>
  </div>
  <ButtonCTA/>
</section>
