.container-btn {
  display: flex;
  background-color: transparent;
  color: black;
  border: 2px solid orange;
  padding: 10px;
  gap: 15px;
  justify-content: center;
  button {
    all: unset;
  }
  img {
    background: transparent;
    height: 30px;
    width: 30px;
  }
}


