.containerIntro{
    height: 87vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1{
        font-size: 5rem;
        text-wrap: balance;
    }
}