---
import ButtonCTA from "./ButtonCTA.astro";
import "../styles/Hero.css";
---

<div class="containerHero">
  <div>
    <img src="/Images/Logo.svg" alt="logo de Nuvio Digital" class="logo"/>
  </div>
  <div class="containerText">
    <h1>Impulsá tu negocio con Landing Pages que convierten</h1>
    <p>
      Diseñamos páginas estratégicas, modernas y optimizadas para que generes mas ventas en pocos minutos.
    </p>
  </div>
  <ButtonCTA />
</div>
