---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ulises Lucato</title>
  </head>
  <body>
    <div class="fondoGris">
      <slot/>
    </div>
  </body>
</html>
