---
import "../styles/beneficios.css";
import ButtonCTA from "./ButtonCTA.astro";
---

<div class="container-bnf">
  <h2>¿Necesitas tasaciones en el día y que sean de confianza?</h2>
  <div class="container-data">
    <div class="container-card">
      <i class="fa-solid fa-check-double"></i>
      <h3>Tasaciones de especialistas</h3>
      <p>
        Especialistas registrados en instituciones educativas para estos fines.
      </p>
    </div>
    <div class="container-card">
      <i class="fa-solid fa-laptop"></i>
      <h3>Asesoría personalizada</h3>
      <p>Asesoría completa desde el primer momento.</p>
    </div>
    <div class="container-card">
      <i class="fa-solid fa-ruler-combined"></i>
      <h3>Valoraciones para inversiones</h3>
      <p>
        Informes que apoyan decisiones estratégicas de inversión en bienes
        raíces, con enfoque financiero y de mercado.
      </p>
    </div>
    <div class="container-card">
      <i class="fa-solid fa-cart-shopping"></i>
      <h3>Capacidad de venta</h3>
      <p>
        COntamos con nuestra propía inmobiliaria y te ayudamos a vender tu propiedad.
      </p>
    </div>
  </div>
  <ButtonCTA />
</div>
