---
import '../styles/buttoncta.css'
---

<div class="container-btn">
  <button> SOLICITÁ TU COTIZACIÓN HOY </button>
  <img
    src="../../public/Image/WppLogo.png"
    alt="logo de WPP"
  />
</div>
