---
import "../styles/introduction.css";
import ButtonCTA from "./ButtonCTA.astro";
---

<section>
  <div class="container-in">
    <h1>TASACIONES EN EL DÍA</h1>
    <ul>
      <li>
        Somos profesionales en tasaciones y valoraciones de inmuebles en
        Mendoza.
      </li>
    </ul>
    <ButtonCTA />
  </div>
</section>
