---
import "../styles/puntosPositivos.css";
import ButtonCTA from "./ButtonCTA.astro";
---

<div class="container-pp">
  <img src="../../public/Image/images.jpeg" alt="imagen de propiedades" class="img-pp"/>
  <h3>
    En OJEDA INMOBILIARIA nos especializamos en ofrecer soluciones inmobiliarias
    integrales, con un enfoque en confiaza , eficiencia y compromiso. Nos
    destacamos en:
  </h3>
  <ul>
    <li>
      Tasaciones de propiedades urbanas y rurales para venta o garantía
      bancaria.
    </li>
    <li>Asesoría en subdivisiones y fusiones prediales.</li>
    <li>
      Estudios de viabilidad y valorización para proyectos de inversión
      inmobiliaria.
    </li>
  </ul>
  <ButtonCTA/>
</div>
