---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import VideoIntro from '../components/VideoIntro.astro';
import Menu from '../components/Menu.astro';
import Testimonials from '../components/Testimonials.astro';
import Cta from '../components/Cta.astro';
---

<Layout title="Café Sol">
  <Header />
  <main>
    <Hero />
    <About />
    <VideoIntro />
    <Menu />
    <Testimonials />
    <Cta />
  </main>
</Layout>