.containerFAQ {
  height: auto;
  width: 100%;
  background-color: #0a2540;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 1rem;
  h1 {
    margin: auto;
  }
  .containerDetails {
    width: 100%;
    summary {
      border-bottom: 1px solid rgb(133, 133, 133);
      font-size: 1rem;
    }
    p{
        font-size: 14px;
        margin-top: 5px;
    }

    /* Flecha en contenido colapsado */
    details summary::marker {
      content: "+ ";
      color: rgb(132, 1, 226);
      font-size: 1.5rem;
    }

    /* Flecha en contenido desplegado */
    details[open] summary::marker {
      content: "- ";
    }
  }
}
