.containerService {
  height: auto;
  width: 100%;
  background-color: #0a2540;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0px;
  gap: 2rem;
  .containerItems {
    width: 80vw;
    max-width: 600px;
    background-color: #294d70;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    border: 1px solid white;
    h3 {
      font-size: 1.1rem;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 8px;
      li {
        font-size: 14px;
      }
    }
    p {
      font-size: 18px;
    }
  }
}
